VITE_AWS_REGION=eu-north-1
VITE_AMAZON_LOCATION_API_KEY=your-amazon-location-api-key
VITE_API_BASE_URL=/api
VITE_ETA_API_URL=https://7c9ge0cd58.execute-api.ap-northeast-2.amazonaws.com/prod
VITE_USE_MOCK_ROUTE_INPUT=false
